body{
    font-family: 'Trebuchet MS';
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    text-align: center;
    color: rgb(158, 149, 15);
}

.name h1 {
    font-size: 100px;
    font-weight: lighter;
}

.name h2 {
    font-size: 20px;
    margin-top: -30px;  
    font-weight: lighter;
}

.container-main-section{
    display: inline-flex;
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: rgba(170, 163, 61, 0.89);
    
}

.container-left-block {
    background-color: rgb(18, 19, 24, 0.8);
    width: 22.5%;
    border: 3px solid black; 
    display: grid;
}

.container-left-block h1 {
    margin-top:-20%;
}
.container-left-block img{
    border: 3px solid rgba(182, 174, 63, 0.61);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -40%;
    margin-bottom: -20%;
    /* bring your own prefixes */
    transform: translate(-1%, -0%);
}

.container-left-block img:hover{
    transform: scale(1.1);
}
.container-left-block h1 {
    font-size: 17px;
    font-family: Arial;
    font-weight: lighter;
}

.container-abilities {
    display: inline-grid;
    background-color: rgb(18, 19, 24, 0.8);
    width: 50%;
    border: 3px solid black;
    margin-left: 10px;
}

.all_abilities{
    display: inline;
    margin-top: 8%;
    margin-bottom: 1%
}

.all_abilities img:hover{
    transform: scale(1.2);
}

.all_abilities img {
    border: 2px solid black;
}

.ability-desc{
    margin-left: 2.5%;
    background-color: rgba(240, 236, 223, 0.377);
    width:95%;
    margin-bottom:3%;
}

.single-ability {
    text-align: left;
    font-size: 16px;
    color: black;
    margin-top:-3%;
}

.single-ability p { 
    padding-top:5px;
}
.single-ability b {
   color:rgb(221, 209, 209);
}

.ability-desc img {
    padding: 10px;
}

.container-right-block{
    background-color: rgb(18, 19, 24, 0.8);
    width: 25%;
    border: 3px solid black;
    margin-left: 10px;
}

.container-right-block h4 {
    font-size: 16px;
    text-align: left;
}

#modal-color{
    background-color: #3e4461;
}

#modal-text {
    font-size: 20px;
    text-align: left;
    padding-bottom:8px;
}

#modal-text b {
    color:white;
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
.modal-ku {
    width: 1000px;
    margin: auto;
  } 

.popover{
    max-width: 40%; /* Max Width of the popover (depending on the container!) */
}

.progress{
    font-size: 16px;
    max-width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

#sub-titles {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#social-icons {
    margin-left: -6%;
    
}
#social-icons i{
    font-size: 50px;
    color:white;
    margin-right:-4%;
}
#social-icons i:hover{
    transform: scale(1.2)
}

#social-icons a{
    text-decoration: none;
    color:white;
    font-size:15px;
}

#about_me{
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
}

@media(min-width:1360px){
    .e_ability{
        margin-left:-12%;
    }
}